body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.logo-name {
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  width: 80%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.circle-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

a:hover {
  background-color: #0056b3;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

footer nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

footer nav a {
  text-decoration: none;
  color: white;
}

footer nav a:hover {
  background-color: #0056b3;
}
